<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Munkaidő
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Munkaidő</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->

  <div class="timer">
    <svg viewBox="0 0 100 100">
      <circle cx="50" cy="50" r="45" class="timer__background" />
      <path stroke-dasharray="0,100" stroke-dashoffset="0" d="M50 10
          a 40 40 0 0 1 0 80
          a 40 40 0 0 1 0 -80" class="timer__progress" />
      <text x="50" y="50" text-anchor="middle" class="timer__text">{{ time
        }}</text>
    </svg>
    <button ion-button (click)="startTimer()" *ngIf="!isRunning">Start</button>
    <button ion-button (click)="stopTimer()" *ngIf="isRunning">Stop</button>
  </div>
</ion-content>